<h1>Home Iot by YoIT</h1>
<p>this is a page by YoIT by linking multiple IoT devices inside his house, and displaying the datas on the home server inside his raspberry pi.</p>

<h2>Temperature</h2>
<%# TODO: display current temperature and the past 1 hour's temperature %>
<%= '今の温度は: ' + @temperatures.first[:temperature].to_s %>
